*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg{
    background-color: #f5ebdc;
}
/* navbar styling started */

#navbar{
    gap: 500px;
    
    
}
#nav-first-button{
    border-radius: 50px;
    padding: 10px 30px;
    border: 0px;
    background-color: #d62300;
    color: white;
}

#nav-second-button{
    border-radius: 50px;
    padding: 10px 30px;
    border: 0px;
    background-color: #502314;
    color: white;
}
#nav-icon{
    width: 200px;
}
#nav-button{
    gap: 20px
}
/* navbar styling ended */

